{% extends "layout.html" %}
{% block styles %}
<link href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" rel="stylesheet" media="screen">
<style>
tags-saved{
    color: #68c168;
}
</style>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap-tagsinput.min.js') }}"></script>
  <script>
      $('#incident-type-input, #device-input').change(function(){
        $('.tags-saved').hide();
        $('.update-button').show();
      });
      $('.update-button').click(function(){
        $.get('{{ url_for("save_decision_tags") }}', {
            'id': {{ case.id }},
            'type_tags': $('#incident-type-input').val(),
            'device_tags' : $('#device-input').val()
        }, function(result){
            if (result == 'ok'){
                $('.tags-saved').show();
                $('.update-button').hide();
            }
            // success function
        });
      });
  </script>
{% endblock %}
{% block body %}
   <div class="container">
       <div class="row">
           <div class="case-detail col-md-7">
                <h2>{{ case.title }}</h2>
                <p class="case-content">
                    {{ case.content|safe }}
                </p>
           </div>
           <div class="case-metadata col-md-5">
               <label>Source:</label>
               <p>{{ case.source }}</p>
               <label>Incident Type:</label>
               <p><input type="text" data-role="tagsinput" id="incident-type-input" value="{{case_tags}}"/></p>
               <p></p>
               <label>Device Involved:</label>  
               <p><input type="text" data-role="tagsinput" id="device-input" value="{{device_tags}}"/></p>
               <button class="update-button" style="display:none;"	>Save Changes</button>
               <p class="tags-saved" style="display:none;">Tags Saved</p>
           </div>
       </div>
   </div>
{% endblock %}

