
{% macro search_banner(): %}

<div class="jumbotron">
    <div class="container">
         <h1>IPVTech Research Portal</h1>
      <div class="row">
      <ul class="nav navbar-nav">
          <li><a href="#">Reported</a></li>
          <li><a href="#">Recent Cases</a></li>
           <li><a href="#">Notes</a></li>
        </ul>
      </div>
      <form action="{{ url_for('search') }}" method="get">
      <div class="col-sm-10">
          <input type="text" class="form-control" id="search" name="keyword"/>
      </div>
      <input class="btn btn-primary" type="submit" value="Search"/>
      <a class="btn btn-primary" href="{{ url_for('new_incident') }}">Report</a>
      </form>
    </div>
</div>
    
{% endmacro %}

{% macro search_banner_mini(module_name='police_log'): %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav navbar-nav">
            <li  {% if request.path == "/search" %}class="active"{% endif %}>
                <a href="{{ url_for('search') }}?keyword={{ request.args.keyword }}">Police Logs</a>
            </li>
            <li  {% if request.path == "/decisions" %}class="active"{% endif %}>
                <a href="{{ url_for('decisions') }}?keyword={{ request.args.keyword }}">Court Decisions</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    {% if request.path == "/search" %}
    <form action="{{ url_for('search') }}" method="get">
    {% endif %}
    {% if request.path == "/decisions" %}
    <form action="{{ url_for('decisions') }}" method="get">
    {% endif %}
        <div class="col-md-10">
            <input type="text" class="form-control" id="search" name="keyword" value="{{ request.args.keyword }}"></input>
        </div>
        <input class="btn btn-primary" type="submit" value="Search"/>
        <a class="btn btn-primary" href="{{ url_for('new_incident') }}">Report</a>
    </form>
</div>


{% endmacro %}